@mixin bg-variant($parent, $color) {
  #{$parent} {
    background-color: $color !important;
  }
  a#{$parent},
  button#{$parent} {
    &:hover,
    &:focus {
      background-color: darken($color, 10%) !important;
    }
  }
}
@each $color, $value in $grays {
  @include bg-variant('.bg-gray-#{$color}', $value);
}

@each $sm, $value in $sm-colors {
  @include bg-variant('.bg-#{$sm}', $value);
}

.bg-instagram {
  background: $instagram-gradient;
}

.bg-contain {
  background-size: contain;
}

.bg-cover {
  background-size: cover;
}

.bg-center {
  background-position: center;
}

.animate-gradient {
  background-size: 400% 400%;
  animation: gradient 7s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 0% 50%;
  }
}

//Gradients

@each $color, $gradient in $gradient-colors {
  // Horizontal
  .bg-#{$color}-x {
    @if length($gradient) == 3 {
      @include gradient-x-three-colors(
        nth($gradient, 1),
        nth($gradient, 2),
        50%,
        nth($gradient, 3)
      );
    } @else {
      @include gradient-x(nth($gradient, 1), nth($gradient, 2));
    }
  }

  // Horizontal reversed
  .bg-#{$color}-nx {
    @if length($gradient) == 3 {
      @include gradient-x-three-colors(
        nth($gradient, 3),
        nth($gradient, 2),
        50%,
        nth($gradient, 1)
      );
    } @else {
      @include gradient-x(nth($gradient, 2), nth($gradient, 1));
    }
  }

  // Vertical
  .bg-#{$color}-y {
    @if length($gradient) == 3 {
      @include gradient-y-three-colors(
        nth($gradient, 1),
        nth($gradient, 2),
        50%,
        nth($gradient, 3)
      );
    } @else {
      @include gradient-y(nth($gradient, 1), nth($gradient, 2));
    }
  }

  // Vertical reversed
  .bg-#{$color}-ny {
    @if length($gradient) == 3 {
      @include gradient-y-three-colors(
        nth($gradient, 3),
        nth($gradient, 2),
        50%,
        nth($gradient, 1)
      );
    } @else {
      @include gradient-y(nth($gradient, 2), nth($gradient, 1));
    }
  }

  .bg-#{$color}-45 {
    @if length($gradient) == 3 {
      background-image: linear-gradient(
        to right bottom,
        nth($gradient, 3),
        nth($gradient, 2),
        nth($gradient, 1)
      );
    } @else {
      @include gradient-y(nth($gradient, 2), nth($gradient, 1));
    }
  }
}
