// @mixin bg-variant($parent, $color) {
//   #{$parent} {
//     background-color: $color !important;
//   }
//   a#{$parent},
//   button#{$parent} {
//     @include hover-focus {
//       background-color: darken($color, 10%) !important;
//     }
//   }
// }
// @each $color, $value in $grays {
//   @include bg-variant('.bg-gray-#{$color}', $value);
// }

// @each $sm, $value in $sm-colors {
//   @include bg-variant('.bg-#{$sm}', $value);
// }

//TODO :

.bg-instagram {
  background: $instagram-gradient;
}

.bg-contain {
  background-size: contain;
}

.bg-cover {
  background-size: cover;
}

.bg-center {
  background-position: center;
}
