.avatar,
.avatar-image-wrap,
.avatar-image {
  width: 100%;
  height: 100%;
}

.avatar {
  border-radius: 50%;
  border: calculaterem(2px) solid $white;
  height: 2rem;
  width: 2rem;
  position: relative;

  &-disconnected {
    opacity: 0.3;
  }
}

.avatar-image-wrap {
  overflow: hidden;
  border-radius: 50%;
  background-color: $gray-300;
}

.avatar-provider {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -10%;
  bottom: -10%;
  border: 2px solid $white;
  border-radius: 50%;
  width: 60%;
  height: 60%;
  &-lg {
    width: 75%;
    height: 75%;
    right: -30%;
    bottom: -30%;
  }
  &-md {
    width: 60%;
    height: 60%;
    right: -10%;
    bottom: -10%;
  }
  &-sm {
    width: 40%;
    height: 40%;
  }

  .icon {
    width: 80%;
    height: 80%;
  }
}

@each $sm, $value in $sm-colors {
  .avatar-provider-#{$sm} {
    background-color: $value;
  }
}
