.avatar,
.avatar-image-wrap,
.avatar-image {
  width: 100%;
  height: 100%;
}

.avatar {
  position: relative;

  &-disconnected {
    opacity: 0.3;
  }
}

.avatar-image-wrap {
  overflow: hidden;
  border-radius: 50%;
  background-color: $gray-300;
}

.avatar-provider {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  bottom: 0;
  border: 2px solid $white;
  border-radius: 50%;
  width: 50%;
  height: 50%;

  &-facebook {
    background-color: $facebook;
  }

  &-twitter {
    background-color: $twitter;
  }

  &-linkedin {
    background-color: $linkedin;
  }

  .icon {
    width: 80%;
    height: 80%;
  }
}
