.post-card {
  @extend .card;

  width: 100%;
  height: 100%;
  box-shadow: $box-shadow;
  transition: box-shadow 0.3s;

  &:hover {
    box-shadow: $box-shadow-lg;
  }

  &--draft {
    background-color: $gray-100;
    border-color: $gray-500;
  }

  &--invalid {
    border-color: $danger;
  }
}

.post-card__header {
  display: flex;
  align-items: start;
  margin-top: map-get($spacers, 2);
  margin-right: map-get($spacers, 2);
  margin-bottom: 0;
  margin-left: map-get($spacers, 2);

  .dropdown-menu {
    min-width: 190px;
  }
}

.post-card__title {
  @extend .h5, .text-truncate;

  margin-bottom: 0.2em;
}

.post-card__date {
  @extend .text-truncate;

  display: flex;
  align-items: center;
  height: 20px;
  font-size: $font-size-xs;
  text-transform: uppercase;
  margin-bottom: 0.2em;

  svg {
    margin-right: 3px;
  }
}

.post-card__content {
  margin: map-get($spacers, 2);
  font-weight: $font-weight-light;
  font-size: $font-size-sm;
  height: $line-height-base * 5em;
}

.post-card__media {
  height: 164px;
}

.post-card__metrics {
  @extend .text-truncate;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: map-get($spacers, 1) map-get($spacers, 2);
}

.post-card__metric {
  @extend .text-uppercase;

  margin-right: map-get($spacers, 1);
  font-weight: $font-weight-light;
  font-size: $font-size-xs;

  span {
    font-weight: $font-weight-bold;
  }
}

.post-card__inspiration-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: map-get($spacers, 1) map-get($spacers, 2);
  font-size: $h4-font-size;
  border-top: $border-width solid $border-color;
}

.post-card__footer {
  margin-top: 1px;

  .btn {
    width: 100%;
    border-radius: 0 0 $border-radius-sm $border-radius-sm;
  }
}
