.stepper__step {
  color: $gray-400;
  font-weight: 500;
  &__value {
    border-color: $gray-400 !important;
    background-color: $gray-400;
    color: $white;
    height: $spacer * 3;
    width: $spacer * 3;
    position: relative;
  }

  &--active {
    .stepper__step__value {
      color: $white;
      background-color: $primary;
      border-color: $primary !important;
      border: 2px;
    }
  }

  &--done {
    color: $primary;
    .stepper__step__value {
      color: $primary;
      border-color: $primary !important;
      background-color: $white;
    }
  }
}

.line {
  border-top: 2px solid #{$gray-400};
  flex: auto;
  width: $spacer * 4;
}
