// Ray

@each $color, $value in $gradient-colors {
  .btn-#{$color} {
    @include gradient-button($value);
  }
  .btn-outline-#{$color} {
    @include gradient-outline-button($value);
  }
}

.btn-gradient-alternative {
  @include gradient-button($btn-gradient-alternative);
}

@keyframes gradient-button-loading {
  0% {
    background-position: 100% 0;
  }

  50% {
    background-position: 0 0;
  }

  100% {
    background-position: 100% 0;
  }
}

// Plain Button
@each $color, $value in $grays {
  .btn-gray-#{$color} {
    @include button-variant($value, $value);
  }

  .btn-outline-gray-#{$color} {
    @include button-outline-variant($value);
  }
}

@each $sm, $value in $sm-colors {
  .btn-#{$sm} {
    @include button-variant($value, $value);
  }

  .btn-outline-#{$sm} {
    @include button-variant($value, $value);
  }
}

.btn-twitter {
  color: $white;
}

.btn .icon {
  pointer-events: none;
}

.btn-icon {
  padding: $btn-padding-y;
  border-radius: $btn-border-radius;

  &.btn-sm {
    padding: $btn-padding-y-sm;
    border-radius: $btn-border-radius-sm;
  }

  &.btn-lg {
    padding: $btn-padding-y-lg;
    border-radius: $btn-border-radius-lg;
  }

  .icon {
    margin: 0;
  }

  &-left,
  &-right {
    span {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &-left span {
    flex-direction: row-reverse;

    .icon {
      margin-right: $spacer;
    }
  }

  &-right span {
    .icon {
      margin-left: $spacer;
    }
  }
}

.btn.disabled,
.btn:hover.disabled {
  background-position: 0; // Prevent effect when disabled for gradient buttons
}
