// custom swtich/toggle
.toggle-switch-container {
  display: inline-flex;
}

.custom-switch {
  padding-left: 3.25rem;
}

.custom-control {
  min-height: 2rem;
}

// // custom swtich - inactive background
.custom-switch .custom-control-label::before {
  background-color: $danger;
  border: $danger;
  width: 2.85rem;
  height: 1.5rem;
  border-radius: 1.2rem;
  left: -3.25rem;
  top: unset;
}
// custom swtich - inactive switch
.custom-switch .custom-control-label::after {
  width: calc(1.5rem - 4px);
  height: calc(1.5rem - 4px);
  left: calc(-3.25rem + 2px);
  border-radius: 0.7rem;
  top: 2px;
}

// custom swtich - active switch
.custom-switch .custom-control-input:checked ~ .custom-control-label::after {
  // background-color: $white;
  transform: translateX(1.35rem);
}

/* *******Label align********* */
.align-label-left {
  .custom-switch {
    padding-right: 3.25rem;
    padding-left: unset;
  }

  .custom-control {
    padding-right: 1.5rem;
    padding-left: unset;
  }

  .custom-switch .custom-control-label::before {
    left: unset;
    right: -3.25rem;
  }

  .custom-control-label::before {
    left: unset;
    right: -1.5rem;
  }

  .custom-switch .custom-control-label::after {
    left: unset;
    right: calc(-2.65rem + 14px);
  }

  .custom-control-label::after {
    right: -1.5rem;
    left: unset;
  }
}
