.dropdown-menu {
  .dropdown-item {
    font-weight: 200;
    text-transform: capitalize;
    padding-left: $menu-item-padding-x;
    padding-right: $menu-item-padding-x;
    &:hover {
      background: initial;
    }
    &-footer {
      font-size: $font-size-sm;
    }
  }

  &-dark {
    background: $gray-800;
    .dropdown-item {
      color: #fff;
      &:not(:last-child) {
        .dropdown-item-content {
          border-bottom: 1px solid $gray-500;
          padding-bottom: 0.5rem;
        }
      }
      &-footer {
        color: $gray-500;
      }
    }
    svg,
    &:hover {
      fill: $gray-500 !important;
    }
  }
}
