
.dropdown-menu {
  .dropdown-item {
    font-weight: 200;
    text-transform: capitalize;
    display: flex;
    align-items: flex-end;
    &:hover {
    background: initial;
    }
  }
  
  &-dark {
    background: $gray-800;
    .dropdown-item {
      color: #FFF;
      &:not(:last-child) {
        .dropdown-item-content {
        border-bottom: 1px solid $gray-500;
        padding-bottom: 0.25rem;
        }
      }
    }
    svg, &:hover {
      fill: $gray-500 !important;
    }
  }
}
