label {
  color: $gray-900;
  font-weight: $font-weight-bold;
}

.form-group {
  margin-bottom: 1rem;
}

.form-control {
  font-weight: $font-weight-light;
  background-color: $white;

  &:hover:not(:focus):not(.focus):not(:disabled):not(.is-invalid):not(.is-valid) {
    border-color: $input-hover-border-color;
  }
}

.form-control-sm,
.form-control-lg {
  font-size: $font-size-base;
}

.form-text {
  margin-top: $spacer;
  font-weight: $font-weight-light;
  font-size: $font-size-sm;
}

// Checkbox and radio inputs

// Shared

.form-check {
  display: flex;
  align-items: center;
  padding: 0;
  .form-check-input {
    float: unset;
    margin-right: $spacer;
    margin-left: 0;
    margin-top: 0;
  }
}

.form-check-label {
  position: relative;
  color: $gray-600;
  font-weight: $font-weight-light;
  line-height: 1;

  .form-check-input {
    float: unset;
    margin-right: $spacer * 0.5;
  }
}

// Radios
.form-check-input[type='radio'] {
  & ~ .form-check-label {
    &::before {
      border-radius: 50%;
    }
  }

  &:checked {
    background-color: $white;
    & ~ .form-check-label {
      &::before {
        box-shadow: inset 0 0 0 2px $white;
      }
    }
  }
}

// Switches

.form-switch {
  display: flex;
  justify-content: start;
  align-items: start;
  .form-check-input {
    height: $form-switch-height;
    background-color: $form-switch-bg-color;
    border-color: $form-switch-border-color;
    &:checked {
      background-color: $form-switch-checked-bg-color;
      border-color: $form-switch-checked-border-color;
    }
  }

  .form-check-input-primary {
    height: $form-switch-height;
    background-color: $gray-500;
    border-color: $gray-500;
    &:checked {
      background-color: $primary;
      border-color: $primary;
    }
  }
}
