label {
  color: $gray-900;
  font-weight: $font-weight-bold;
}

.form-control {
  font-weight: $font-weight-light;

  &:hover:not(:focus):not(.focus):not(:disabled):not(.is-invalid):not(.is-valid) {
    border-color: $input-hover-border-color;
  }
}

.form-control-sm,
.form-control-lg {
  font-size: $font-size-base;
}

.form-text {
  margin-top: $spacer;
  font-weight: $font-weight-light;
  font-size: $font-size-sm;
}

// Checkbox and radio inputs

// Shared

.form-check {
  padding-left: 0;
}

.form-check-inline .form-check-input {
  position: absolute;
}

.form-check-label {
  position: relative;
  display: flex;
  align-items: center;
  color: $gray-600;
  font-weight: $font-weight-light;
  line-height: 1;

  &::before,
  &::after {
    display: block;
    height: $spacer * 1.8;
    width: $spacer * 1.8;
    flex-shrink: 0;
    cursor: pointer;
  }

  &::before {
    content: '';
    background-color: $white;
    border-color: $gray-400;
    border-radius: $border-radius-sm;
    border-style: solid;
    border-width: 1px;
  }

  &:not(:empty) {
    &::before {
      margin-right: $spacer;
    }
  }
}

.form-check-input {
  opacity: 0;

  &:checked ~ .form-check-label {
    color: $gray-900;

    &::before {
      background-image: linear-gradient(90deg, $gradient-primary);
    }
  }

  &:disabled ~ .form-check-label {
    color: $gray-600;

    &::before {
      background-color: $gray-100;
      cursor: default;
    }
  }
}

// Checkboxes
.form-check-input[type='checkbox'] {
  &:checked ~ .form-check-label {
    &::before {
      border-width: 0;
    }

    &::after {
      content: url("data:image/svg+xml;utf8,<svg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M6 0.166656C2.77834 0.166656 0.166668 2.77833 0.166668 5.99999C0.166668 9.22165 2.77834 11.8333 6 11.8333C9.22166 11.8333 11.8333 9.22165 11.8333 5.99999C11.8333 4.45289 11.2188 2.96916 10.1248 1.8752C9.03083 0.781238 7.5471 0.166656 6 0.166656ZM8.5375 4.67582L5.25917 7.95416C5.20624 8.01055 5.13234 8.04254 5.055 8.04254C4.97766 8.04254 4.90376 8.01055 4.85083 7.95416L3.4625 6.58332C3.40729 6.52856 3.37623 6.45401 3.37623 6.37624C3.37623 6.29847 3.40729 6.22392 3.4625 6.16916L3.77167 5.85999C3.8246 5.8036 3.89849 5.7716 3.97583 5.7716C4.05318 5.7716 4.12707 5.8036 4.18 5.85999L5.055 6.72916L7.82 3.96416C7.93341 3.85299 8.11492 3.85299 8.22833 3.96416L8.5375 4.27332C8.64491 4.38599 8.64491 4.56315 8.5375 4.67582Z' fill='white'/></svg>");
      display: block;
      position: absolute;
      top: 58%;
      left: 0;
      text-align: center;
      transform: translate3d(0, -52%, 0);
    }
  }
}

// Radios
.form-check-input[type='radio'] {
  & ~ .form-check-label {
    &::before {
      border-radius: 50%;
    }
  }

  &:checked ~ .form-check-label {
    &::before {
      box-shadow: inset 0 0 0 2px $white;
    }
  }
}
