.nav-link {
  color: $nav-link-color;

  &.active {
    color: $nav-link-active-color;
  }

  &.disabled {
    cursor: default;
  }
}

.nav-tabs {
  border-bottom-color: $gray-300;
  padding: $spacer * 3;
  padding-bottom: 0;
  .nav-item {
    margin-right: $spacer;

    &:last-of-type {
      margin-right: 0;
    }
  }

  .nav-link {
    color: $nav-tabs-link-color;
    font-weight: $font-weight-light;
    border: 1px solid transparent;
    border-bottom: 1px solid $gray-300;
    background-color: $white;
    padding: $spacer ($spacer * 5);

    &.active {
      background-color: $gray-200;
      color: $nav-tabs-link-active-color;
      font-weight: $font-weight-bold;
      border-bottom-color: $gray-200;
    }

    &.disabled {
      border-color: $nav-tabs-border-color;
    }
  }
}

.nav-pills {
  .nav-link {
    color: $nav-pills-link-color;

    &.active {
      font-weight: $font-weight-bold;
      @each $color, $value in $theme-colors {
        &.nav-link-#{$color} {
          background-color: $value;
        }
      }
    }

    &.disabled {
      color: $nav-link-disabled-color;
    }
  }
}
