// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

//
// Color system
//

// Gradients

$gradient-primary: #5a37e6, #240a9e;
$gradient-primary-300: #fae0ff, #b8a3ff, #8f84ff;
$gradient-primary-100: #fcefff, #ece7ff, #d0cbff;
$gradient-secondary: #8c00a3, #bc57cd;
$gradient-secondary-300: #d78ce8, #bc57cd;
$gradient-secondary-100: #f8daff, #f2bdfb;
$gradient-success: #00a8e6, #006fb7;
$gradient-tertiary-red: #f19191, #e95948;
$gradient-tertiary-green: #3dcfae, #16abab;
$gradient-tertiary-black: #666, #000;
$gradient-academy: #2e6aff, #3dcfae;
$gradient-neutral: #fff, #7e86ce;
$gradient-neutral-100: #fbfcff, #e4e6f6;

$gradient-colors: (
  'gradient-primary': $gradient-primary,
  'gradient-primary-300': $gradient-primary-300,
  'gradient-primary-100': $gradient-primary-100,
  'gradient-secondary': $gradient-secondary,
  'gradient-secondary-300': $gradient-secondary-300,
  'gradient-secondary-100': $gradient-secondary-100,
  'gradient-success': $gradient-success,
  'gradient-tertiary-red': $gradient-tertiary-red,
  'gradient-tertiary-green': $gradient-tertiary-green,
  'gradient-tertiary-black': $gradient-tertiary-black,
  'gradient-academy': $gradient-academy,
  'gradient-neutral': $gradient-neutral,
  'gradient-neutral-100': $gradient-neutral-100,
);

$white: #fff;
$gray-100: #fafbff;
$gray-200: #f5f6fd;
$gray-300: #dfe1ef;
$gray-400: #cbcee8;
$gray-500: #a7aac6;
$gray-600: #7c7f9c;
$gray-700: #555879;
$gray-800: #313454;
$gray-900: #202237;
$black: #000;

$primary: #3023ae;
$primary-300: #6c3fff;
$primary-100: #efe8ff;
$secondary: #8c00a3;
$secondary-300: #bc57cd;
$secondary-100: #f2bdfb;
$tertiary-red: #f19191;
$tertiary-green: #3dcfae;
$tertiary-black: #666;
$academy: #3dcfae;
$success: #00a8e6;
$info: #0095f1;
$warning: #ffc65c;
$danger: #f25252;
$light: $gray-100;
$dark: $gray-900;
$lavender: #c6c3ea;

$success-100: #d6fff2;
$success-300: #6eebc3;
$warning-100: #ffefd1;
$warning-300: #ffdc9b;
$danger-100: #ffebeb;
$danger-300: #ff8484;

$theme-colors: (
  'primary': $primary,
  'primary-300': $primary-300,
  'primary-100': $primary-100,
  'secondary': $secondary,
  'secondary-300': $secondary-300,
  'secondary-100': $secondary-100,
  'tertiary-red': $tertiary-red,
  'tertiary-green': $tertiary-green,
  'tertiary-black': $tertiary-black,
  'academy': $academy,
  'success': $success,
  'info': $info,
  'warning': $warning,
  'danger': $danger,
  'light': $light,
  'dark': $dark,
  'lavender': $lavender,
);

// Social media network colors
$sm-colors: (
  facebook: #155fef,
  twitter: #1e8eee,
  linkedin: #1f52a2,
);

$instagram-colours: #fdf497, #fcc06e, #fd5949, #d6249f, #285aeb;

$sm-colors-instagram-gradient: radial-gradient(
  circle at 30% 107%,
  nth($instagram-colours, 5) 0%,
  nth($instagram-colours, 5) 5%,
  nth($instagram-colours, 4) 25%,
  nth($instagram-colours, 3) 50%,
  nth($instagram-colours, 2) 95%
);

$instagram-gradient: radial-gradient(
  circle at 30% 107%,
  nth($instagram-colours, 1) 0%,
  nth($instagram-colours, 1) 5%,
  nth($instagram-colours, 3) 45%,
  nth($instagram-colours, 4) 60%,
  nth($instagram-colours, 5) 90%
);

// The contrast ratio to reach against white, to determine if color changes from "light" to "dark". Acceptable values for WCAG 2.0 are 3, 4.5 and 7.
// See https://www.w3.org/TR/WCAG20/#visual-audio-contrast-contrast
$min-contrast-ratio: 3 !default;

// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-caret: false;
$enable-rounded: true;
$enable-shadows: false;
$enable-gradients: false;
$enable-transitions: true;
$enable-grid-classes: true;
$enable-print-styles: false;
$enable-validation-icons: false;
$enable-negative-margins: true;

// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer: 0.5rem;
$spacers: (
  0: 0,
  1: $spacer,
  2: $spacer * 2,
  3: $spacer * 3,
  4: $spacer * 4,
  5: $spacer * 5,
  6: $spacer * 6,
  half: calc($spacer / 2),
);

//Containers

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1230px,
);

// Body
//
// Settings for the `<body>` element.

$body-bg: $gray-100;
$body-color: #1e2128;

// Components
//
// Define common padding and border radius sizes and more.

$border-radius: $spacer;
$border-radius-lg: $spacer * 2;
$border-radius-sm: calc($spacer / 2);

$border-width: 1px;

$radiuses: (
  1: $border-radius,
  2: $border-radius * 2,
  3: $border-radius * 3,
  4: $border-radius * 4,
);

$box-shadow-xs: 0 10px 20px 0 rgba($gray-300, 0.3), 0 2px 10px 0 rgba($gray-300, 0.3);
$box-shadow-sm: 0 10px 20px 0 rgba($gray-300, 0.5), 0 2px 10px 0 rgba($gray-300, 0.5);
$box-shadow: 0 10px 20px 0 rgba($gray-300, 1), 0 2px 10px 0 rgba($gray-300, 1);

// Fonts
//
// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif: 'Euclid Flex B', sans-serif;

$font-size-base: 1rem; // 16px
$font-size-lg: ($font-size-base * 1.125); // 18px
$font-size-sm: ($font-size-base * 0.875); // 14px
$font-size-xs: ($font-size-base * 0.75); // 12px
$font-size-xxs: ($font-size-base * 0.5); // 10px

$h5-font-size: $font-size-base * 1.125 !default;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 500;

$font-weight-base: $font-weight-light;
$line-height-base: 1.5;
$line-height-lg: 1.5;
$line-height-sm: 1.5;

$headings-color: $gray-900;

$text-muted: $gray-600;

// Tables
//
// Customizes the `.table` component with basic values, each used across all table variations.

$table-cell-padding: $spacer * 1.5;
$table-cell-padding-sm: $spacer;
$table-cell-padding-lg: $spacer * 2; // Ray

$table-bg: $white;
$table-accent-bg: $gray-100;
$table-hover-bg: $gray-200;
$table-active-bg: $table-hover-bg;

$table-border-width: $border-width;
$table-border-color: $gray-300;

$table-head-bg: $gray-100;
$table-head-color: $gray-900;

$table-color: $gray-900; // Ray

$table-striped-order: odd;

// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.

$input-btn-padding-y: $spacer * 2;
$input-btn-padding-x: $spacer * 2.5;
$input-btn-line-height: 1;

$input-btn-padding-y-sm: $spacer;
$input-btn-padding-x-sm: $spacer * 2;
$input-btn-line-height-sm: 1;

$input-btn-padding-y-lg: $spacer * 2;
$input-btn-padding-x-lg: $spacer * 2;
$input-btn-line-height-lg: 1;
$input-btn-font-size-lg: $font-size-base;
$input-btn-focus-blur: 6px;
// Buttons

$btn-gradient-alternative: rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.2);

$btn-disabled-opacity: 0.4;

$btn-padding-x: $spacer * 4;
$btn-padding-x-sm: $spacer * 2.5;
$btn-padding-x-lg: $spacer * 5;

$btn-padding-y: $spacer * 1.5;
$btn-padding-y-sm: $spacer * 0.75;
$btn-padding-y-lg: $spacer * 2;

$btn-font-weight: $font-weight-bold;
$btn-active-box-shadow: none;

$btn-border-radius: $border-radius-sm;
$btn-border-radius-lg: $border-radius-sm;
$btn-border-radius-sm: $border-radius-sm;

// Forms

$label-margin-bottom: $spacer;

$input-color: $gray-900;
$input-border-color: $gray-300;
$input-bg: $white;

$input-border-radius: $border-radius-sm;
$input-border-radius-lg: $border-radius-sm;
$input-border-radius-sm: $border-radius-sm;

$input-focus-border-color: $primary;

$input-line-height-sm: $line-height-sm;
$input-line-height-lg: $line-height-lg;

$input-hover-border-color: $gray-500; // Ray

// Dropdowns

$dropdown-padding-y: 0; // Ray
$dropdown-padding-x: 0; // Ray
$dropdown-border-radius: $border-radius-sm;
$dropdown-border-width: 0;
$dropdown-link-color: $gray-900;
$dropdown-link-hover-color: darken($gray-900, 5%);
$dropdown-link-hover-bg: $gray-100;
$dropdown-link-active-color: $gray-900;
$dropdown-link-active-bg: $gray-100;
$dropdown-link-disabled-color: $gray-600;

$dropdown-dark-divider-bg: $gray-700; // Ray
$dropdown-dark-link-color: $white; // Ray
$dropdown-dark-link-hover-color: darken($white, 5%); // Ray
$dropdown-dark-link-hover-bg: $gray-700; // Ray
$dropdown-dark-link-active-color: $white; // Ray
$dropdown-dark-link-active-bg: $gray-700; // Ray
$dropdown-dark-link-disabled-color: $gray-600; // Ray

$dropdown-item-padding-y: $spacer * 2;
$dropdown-item-padding-x: $spacer * 2;

// Navs

$nav-link-color: $gray-600; // Ray
$nav-link-active-color: $primary; // Ray
$nav-link-disabled-color: $gray-400;

$nav-tabs-border-color: $gray-300;
$nav-tabs-border-radius: $border-radius;
$nav-tabs-link-color: $nav-link-color; // Ray
$nav-tabs-link-hover-border-color: $nav-tabs-border-color;
$nav-tabs-link-active-color: $gray-700;
$nav-tabs-link-active-bg: $body-bg;
$nav-tabs-link-active-border-color: $nav-tabs-border-color $nav-tabs-border-color
  $nav-tabs-link-active-bg;

$nav-pills-link-color: $nav-link-color; // Ray

// Alerts

$alert-padding-y: 1em;
$alert-padding-x: 1em;

// Cards

$card-border-width: 0;
$card-border-radius: $border-radius-lg;
$card-border-color: $white;

//Nav

$nav-link-padding-y: $spacer;
$nav-link-padding-x: $spacer * 4.5;

// Badges

$badge-font-size: 75%;
$badge-font-weight: $font-weight-bold;
$badge-padding-y: 0.4em;
$badge-padding-x: 0.5em;
$badge-border-radius: 2px;

$badge-pill-padding-x: 0.75em;

// Tags

$tag-font-size: 100%; // Ray

// Ghosts

$ghost-base-height: $spacer * 0.9;

// Form switch

$form-switch-bg-color: $danger;
$form-switch-border-color: $danger;
$form-switch-checked-bg-color: $success;
$form-switch-checked-border-color: $success;

$form-switch-color: $white;
$form-switch-width: 2.5em;
$form-switch-height: 1.25em;
$form-switch-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='#{$form-switch-color}'/></svg>");

$form-switch-focus-color: $white;
$form-switch-focus-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='#{$form-switch-focus-color}'/></svg>");

$form-switch-checked-color: $white;
$form-switch-checked-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='#{$form-switch-checked-color}'/></svg>");

//Form check

$form-check-gutter: 0.5em;
$form-check-indicator-size: 2em;
$form-check-radio-checked-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='2.5' fill='url(#paint0_linear_72_1700)'/><defs><linearGradient id='paint0_linear_72_1700' x1='-3.72529e-08' y1='5' x2='10' y2='5' gradientUnits='userSpaceOnUse'><stop stop-color='#5a37e6'/><stop offset='1' stop-color='#240a9e;'/></linearGradient></defs></svg>") !default;
$form-check-input-border: 1px solid $gray-400 !default;
