// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

//
// Color system
//

// Gradients
$gradient-primary: #00a8e6, #006fb7;
$gradient-secondary: #3023ae, #6c3fff, #c76dd8;
$gradient-tertiary-red: #f19191, #e95948;
$gradient-tertiary-green: #3dcfae, #16abab;
$gradient-tertiary-black: #666, #000;
$gradient-academy: #2e6aff, #3dcfae;

$gradient-colors: (
  'gradient-primary': $gradient-primary,
  'gradient-secondary': $gradient-secondary,
  'gradient-tertiary-red': $gradient-tertiary-red,
  'gradient-tertiary-green': $gradient-tertiary-green,
  'gradient-tertiary-black': $gradient-tertiary-black,
  'gradient-academy': $gradient-academy,
);

$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757c;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$primary: #00a8e6;
$secondary: #3023ae;
$tertiary-red: #f19191;
$tertiary-green: #3dcfae;
$tertiary-black: #666;
$academy: #3dcfae;
$success: #02cb8c;
$info: #0095f1;
$warning: #ffc65c;
$danger: #f25252;
$light: $gray-100;
$dark: $gray-900;

$theme-colors: (
  'primary': $primary,
  'secondary': $secondary,
  'tertiary-red': $tertiary-red,
  'tertiary-green': $tertiary-green,
  'tertiary-black': $tertiary-black,
  'academy': $academy,
  'success': $success,
  'info': $info,
  'warning': $warning,
  'danger': $danger,
  'light': $light,
  'dark': $dark,
);

// Social media network colors
$sm-colors: (
  facebook: #155fef,
  twitter: #1e8eee,
  linkedin: #1f52a2,
);

$instagram-gradient: radial-gradient(
  circle at 30% 107%,
  #fdf497 0%,
  #fdf497 5%,
  #fd5949 45%,
  #d6249f 60%,
  #285aeb 90%
);

// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-caret: false;
$enable-rounded: true;
$enable-shadows: false;
$enable-gradients: false;
$enable-transitions: true;
$enable-grid-classes: true;
$enable-print-styles: false;
$enable-validation-icons: false;

// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer: 0.625rem;

$spacers: (
  0: 0,
  1: $spacer,
  2: $spacer * 2,
  3: $spacer * 3,
  4: $spacer * 4,
  5: $spacer * 5,
  half: $spacer / 2,
);

// Body
//
// Settings for the `<body>` element.

$body-bg: $gray-100;
$body-color: $gray-600;

// Components
//
// Define common padding and border radius sizes and more.

$border-radius: $spacer;
$border-radius-lg: $spacer * 2;
$border-radius-sm: $spacer / 2;

$border-width: 1px;

$radiuses: (
  1: $border-radius,
  2: $border-radius * 2,
  3: $border-radius * 3,
  4: $border-radius * 4,
);

$box-shadow-sm: 0 0 15px 0 rgba($gray-700, 0.04);
$box-shadow: 0 0 30px 0 rgba($gray-700, 0.04);
$box-shadow-lg: 0 0 30px 0 rgba($gray-700, 0.12);

// Fonts
//
// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif: 'Euclid Flex B', sans-serif;

$font-size-base: 1rem; // 16px
$font-size-lg: ($font-size-base * 1.25); // 20px
$font-size-sm: ($font-size-base * 0.875); // 14px
$font-size-xs: ($font-size-base * 0.75); // 12px
$font-size-xxs: ($font-size-base * 0.5); // 10px

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 500;

$font-weight-base: $font-weight-light;
$line-height-base: 1.5;
$line-height-lg: 1.5;
$line-height-sm: 1.5;

$headings-color: $gray-900;

$text-muted: $gray-600;

// Tables
//
// Customizes the `.table` component with basic values, each used across all table variations.

$table-cell-padding: $spacer * 1.5;
$table-cell-padding-sm: $spacer;
$table-cell-padding-lg: $spacer * 2; // Ray

$table-bg: $white;
$table-accent-bg: $gray-100;
$table-hover-bg: $gray-200;
$table-active-bg: $table-hover-bg;

$table-border-width: $border-width;
$table-border-color: $gray-300;

$table-head-bg: $gray-100;
$table-head-color: $gray-900;

$table-color: $gray-900; // Ray

$table-striped-order: odd;

// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.

$input-btn-padding-y: $spacer * 1.5;
$input-btn-padding-x: $spacer * 2;
$input-btn-line-height: 1;

$input-btn-padding-y-sm: $spacer;
$input-btn-padding-x-sm: $spacer * 2;
$input-btn-line-height-sm: 1;

$input-btn-padding-y-lg: $spacer * 2;
$input-btn-padding-x-lg: $spacer * 2;
$input-btn-line-height-lg: 1;

// Buttons

$btn-gradient-alternative: rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.2);

$btn-padding-x: $spacer * 3;
$btn-padding-x-sm: $spacer * 2;
$btn-padding-x-lg: $spacer * 4;

$btn-padding-y: $spacer * 1;
$btn-padding-y-sm: $spacer * 0.5;
$btn-padding-y-lg: $spacer * 1.5;

$btn-font-weight: $font-weight-bold;
$btn-active-box-shadow: none;

$btn-border-radius: $border-radius-sm;
$btn-border-radius-lg: $border-radius-sm;
$btn-border-radius-sm: $border-radius-sm;

// Forms

$label-margin-bottom: $spacer;

$input-color: $gray-900;
$input-border-color: $gray-300;

$input-border-radius: $border-radius-sm;
$input-border-radius-lg: $border-radius-sm;
$input-border-radius-sm: $border-radius-sm;

$input-focus-border-color: $primary;
$input-focus-box-shadow: none;

$input-line-height-sm: $line-height-sm;
$input-line-height-lg: $line-height-lg;

$input-hover-border-color: $gray-500; // Ray

// Dropdowns

$dropdown-padding-y: 0; // Ray
$dropdown-padding-x: 0; // Ray
$dropdown-border-radius: $border-radius-sm;
$dropdown-link-color: $gray-900;
$dropdown-link-hover-color: darken($gray-900, 5%);
$dropdown-link-hover-bg: $gray-100;
$dropdown-link-active-color: $gray-900;
$dropdown-link-active-bg: $gray-100;
$dropdown-link-disabled-color: $gray-600;

$dropdown-dark-divider-bg: $gray-700; // Ray
$dropdown-dark-link-color: $white; // Ray
$dropdown-dark-link-hover-color: darken($white, 5%); // Ray
$dropdown-dark-link-hover-bg: $gray-700; // Ray
$dropdown-dark-link-active-color: $white; // Ray
$dropdown-dark-link-active-bg: $gray-700; // Ray
$dropdown-dark-link-disabled-color: $gray-600; // Ray

$dropdown-item-padding-y: $spacer * 2;
$dropdown-item-padding-x: $spacer * 2;

// Navs

$nav-link-color: $gray-600; // Ray
$nav-link-active-color: $primary; // Ray
$nav-link-disabled-color: $gray-400;

$nav-tabs-border-color: $gray-400;
$nav-tabs-border-radius: $border-radius-sm;
$nav-tabs-link-color: $nav-link-color; // Ray
$nav-tabs-link-hover-border-color: $nav-tabs-border-color;
$nav-tabs-link-active-color: $gray-700;
$nav-tabs-link-active-bg: $body-bg;
$nav-tabs-link-active-border-color: $nav-tabs-border-color $nav-tabs-border-color
  $nav-tabs-link-active-bg;

$nav-pills-link-color: $nav-link-color; // Ray

// Cards

$card-border-width: 0;
$card-border-radius: $border-radius-sm;
$card-border-color: $white;

// Badges

$badge-font-size: 75%;
$badge-font-weight: $font-weight-bold;
$badge-padding-y: 0.4em;
$badge-padding-x: 0.5em;
$badge-border-radius: 2px;

$badge-pill-padding-x: 0.75em;

// Tags

$tag-font-size: 100%; // Ray

// Ghosts

$ghost-base-height: $spacer * 0.9;

// Custom forms

$custom-control-indicator-bg: $danger;
$custom-control-indicator-border-color: $danger;
$custom-control-indicator-checked-bg: $success;
$custom-control-indicator-focus-border-color: $danger;

$custom-control-indicator-size: $spacer * 2;
$custom-switch-width: $spacer * 4;
$custom-switch-height: $spacer * 2;
$custom-switch-indicator-bg: $white;

$custom-control-gutter: 0.5rem !default;
