// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

//
// Color system
//

$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757c;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$primary: #27b0cc;
$secondary: #7941ff;
$success: #27cc98;
$info: #0095f1;
$warning: #f0b954;
$danger: #f25270;

// Social media network colors

$facebook: #5586ed;
$twitter: #1dcaff;
$linkedin: #1c87bf;

// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer: 0.625rem;

$spacers: (
  0: 0,
  1: $spacer,
  2: $spacer * 2,
  3: $spacer * 3,
  4: $spacer * 4,
  5: $spacer * 5,
);

// Body
//
// Settings for the `<body>` element.

$body-bg: $gray-100;
$body-color: $gray-600;

// Components
//
// Define common padding and border radius sizes and more.

$border-radius: $spacer;
$border-radius-lg: $spacer * 2;
$border-radius-sm: $spacer / 2;

$radiuses: (
  1: $border-radius,
  2: $border-radius * 2,
  3: $border-radius * 3,
  4: $border-radius * 4,
);

$box-shadow-sm: 0 0 15px 0 rgba($gray-700, 0.04);
$box-shadow: 0 0 30px 0 rgba($gray-700, 0.04);
$box-shadow-lg: 0 0 30px 0 rgba($gray-700, 0.12);

// Fonts
//
// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif: 'Euclid Flex B', sans-serif;

$font-size-base: 1rem; // 16px
$font-size-lg: ($font-size-base * 1.25); // 20px
$font-size-sm: ($font-size-base * 0.875); // 14px
$font-size-xs: ($font-size-base * 0.75); // 12px

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 500;

$font-weight-base: $font-weight-light;
$line-height-base: 1.5;
$line-height-lg: 1.5;
$line-height-sm: 1.5;

$headings-color: $gray-900;

$text-muted: $gray-600;

// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.

$input-btn-padding-y: $spacer * 1.5;
$input-btn-padding-x: $spacer * 2;
$input-btn-line-height: 1;

$input-btn-padding-y-sm: $spacer * 1.1;
$input-btn-padding-x-sm: $spacer * 2;
$input-btn-line-height-sm: 1;

$input-btn-padding-y-lg: $spacer * 2;
$input-btn-padding-x-lg: $spacer * 2;
$input-btn-line-height-lg: 1;

// Buttons

$btn-padding-x: $spacer * 3;
$btn-padding-x-sm: $spacer * 3;
$btn-padding-x-lg: $spacer * 4;

$btn-border-radius: $border-radius;
$btn-border-radius-lg: $border-radius;
$btn-border-radius-sm: $border-radius-sm;

// Forms

$label-margin-bottom: $spacer;

$input-color: $gray-900;
$input-border-color: $gray-300;

$input-border-radius: $border-radius;
$input-border-radius-lg: $border-radius;
$input-border-radius-sm: $border-radius-sm;

$input-focus-box-shadow: none;

$input-hover-border-color: $gray-500; // Ray

// Dropdowns

$dropdown-padding-y: 0; // Ray
$dropdown-padding-x: 0; // Ray

$dropdown-link-color: $gray-900;
$dropdown-link-hover-color: darken($gray-900, 5%);
$dropdown-link-hover-bg: $gray-100;
$dropdown-link-active-color: $gray-900;
$dropdown-link-active-bg: $gray-100;
$dropdown-link-disabled-color: $gray-600;

$dropdown-dark-divider-bg: $gray-700; // Ray
$dropdown-dark-link-color: $white; // Ray
$dropdown-dark-link-hover-color: darken($white, 5%); // Ray
$dropdown-dark-link-hover-bg: $gray-700; // Ray
$dropdown-dark-link-active-color: $white; // Ray
$dropdown-dark-link-active-bg: $gray-700; // Ray
$dropdown-dark-link-disabled-color: $gray-600; // Ray

$dropdown-item-padding-y: $spacer * 2;
$dropdown-item-padding-x: $spacer * 2;

// Cards

$card-border-width: 2px;
$card-border-radius: $border-radius-sm;
$card-border-color: $white;

// Badges

$badge-font-size: ($font-size-base * 0.625);
$badge-font-weight: $font-weight-base;
$badge-padding-y: 0.4em;
$badge-padding-x: 0.5em;
$badge-border-radius: 2px;
